<a href="https://colab.research.google.com/github/sentamil-s03/AI-ML-COURSE/blob/main/Sentamil_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=['45000','56000','38000']
l=(int(l[0]),int(l[1]),int(l[2]))
l

(45000, 56000, 38000)

In [ ]:
l1=[120000,135000,128000,142000,150000]
print("difference  ",l1[-1]-l1[0])

difference   30000

In [ ]:
t=('Asha','Savaings',56000,'KCH')
print(t[0] , "has $",t[2],'in her ',t[1],"account (Branch : ",t[3],").")

Asha has $ 56000 in her  Savaings account (Branch :  KCH ).

In [ ]:
l4=['Kochi','Chennai','Mumbai','Delhi','Pune']
l4[-2]='Hyderabad'
print(l4[::-1])

['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

In [ ]:
t_interest_2024=(7.1,7.3,7.2)
t_interest_2025=(7.4,7.5)
t=t_interest_2024 + t_interest_2025
avg=(t[0]+t[1]+t[2]+t[3]+t[4])/5
print("Average  ",avg)

Average   7.3

In [ ]:
branch_id='TVM-FIN-2025'
print('Branch code : ',branch_id[0:3],"\n",'Year : ',branch_id[-4::])

Branch code :  TVM
 Year :  2025

In [ ]:
transactions = [10000, -2000, 5000, -1500, 3000]
deposits=transactions[0::2]
withdrawals=transactions[1::2]
total_deposits=deposits[0]+deposits[1]+deposits[2]
total_withdrawals=withdrawals[0]+withdrawals[1]
print("Total deposits :",total_deposits)
print("Total withdrawals :",total_withdrawals)

Total deposits : 18000
Total withdrawals : -3500

In [ ]:
 name = 'john doe'
 balance = 72500
 print(name.title(), " has a balance of $",balance)

John Doe  has a balance of $ 72500

In [ ]:
customer = ('Kiran', 'Loan', 80000, 7.5)
payable_amt=((80000*7.5*1)/100) + 80000
print("Payable Amount : ",payable_amt)

Payable Amount :  86000.0

In [ ]:
branches = ['Kochi', 'Chennai', 'Mumbai']
profits = [120000,95000, 134000]
t=((branches[0],profits[0]),(branches[1],profits[1]),(branches[2],profits[2]))
t

(('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000))

In [ ]:
salaries = [45000, 56000, 38000, 62000, 54000]
salaries.sort()
salaries[-3::]

[54000, 56000, 62000]

In [ ]:
exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9)
l1=list(exchange_rates)
l1[2]=84.0
l1

[83.2, 83.1, 84.0, 83.0, 82.9]

In [ ]:
customer_names = ['Asha', 'John', 'Meera']
balances = [56000,72000, 65000]
print(customer_names[0],":",balances[0]," , ",customer_names[1],":",balances[1]," , ",customer_names[2],":",balances[2])

Asha : 56000  ,  John : 72000  ,  Meera : 65000

In [ ]:
account_info = ('Deepa', 'Savings', 98000)
print("Account Holder ",account_info[0]," has â‚¹",account_info[2]," in ",account_info[1]," account")

Account Holder  Deepa  has â‚¹ 98000  in  Savings  account

In [ ]:
branch=[['Kochi', [120000, 135000]], ['Chennai', [95000, 110000]]]
branch[1][1]

[95000, 110000]